{% extends "base.html" %}


{% block title %}
    {{object.title}}
{% endblock %}

{% block content %}
    <h1>
        {{module.title}}
    </h1>

    <div class="contents">
        <h3>Modules</h3>>
        <u1 id="modules">
        {% for m in object.module.all %}
            <li data-id="{{m.id}}"{% if m == module %}
class = 'selected'{% endif % } >
                <a href="{% url 'student_course_detail_module" object.id m.id %}" >
                    <span>
                        Module <span class ='order'>{{ m.order/add:1}}</span>
                    </span>
                    <br>
                    {{ m.title }}
                </a>
            </li>
        {% endfor %}
        </u1>
    </div>
    <div  class="module">
        {% for content in module.contents.all %}
            <h2>{{ item.til}}</h2>
    </div>
{% endblock %}