{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}The Royalon Academy{% endblock %}</title>
    <link href="{% static "css\base.css" %}" rel="stylesheet">
</head>
<style>
			ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 200px;
                background-color: #66a5ad;
                }
            li a {
                 display: inline;
                 text-align:center;
                 float:left;
                 color: #66a5ad;
                 padding: 8px 16px;
                 text-decoration: none;
                }
            li a:hover {
                background-color: #555;
                color: white;
                }

</style>

<body>
    <div id="header">
        <a href="/" class="logo">The Royalon Academy</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">My dashboard</a></li>
                <li {% if section == "My Courses" %}class="selected"{% endif %}><a href="{% url "manage_course_list" %}">Manage Courses</a></li>
				<li {% if section == "My Shopping Cart" %}class="selected"{% endif %}><a href="{% url "product_list" %}">My shopping cart</a></li>

                <li><a href="{% url "logout" %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url "login" %}">Sign in</a></li>
            {% endif %}
         </ul>
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.username }},
                    <a href="{% url "logout" %}">Logout</a>

                {% endif %}
            </span>
    </div>
</body>

    </div>
    <div id="content">
        {% block content %}

        <p>Hello</p>
        {% endblock %}
    </div>

    <div class="tab">
	<button class="tablinks" onclick="openTab(event, 'About')">About</button>
  	<button class="tablinks" onclick="openTab(event, 'Contact')">Contact</button>
	<button class="tablinks" onclick="openTab(event, 'Help')">Help</button>

    </div>

<div id="About" class="tabcontent">
    <span onclick="this.parentElement.style.display='none'"
          class="w3-button w3-display-topright">X</span>

	<p><b><i>Knowledge is Power!</i></b></p>
	<b>Vision:</b> Royalon Academy's Vision is to become an Internationally recognized Online E-Learning Website.<br /><hr />

	<b>Mission:</b> Royalon Academy's Mission is to facilitate learning for students interested in different subjects by providing them challenging courses
		and to meet the Subject Matter Experts</b>

</div>

<div id="Contact" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'"
          class="w3-button w3-display-topright">X</span>

    <p> Page under Construction </p>
</div>

<div id="Help" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'"
          class="w3-button w3-display-topright">X</span>

    <p> Page under Construction </p>

</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>

<script>
function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

</html>

