{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
	<h1>Log-in</h1>
	<div class="module">
		<h1><i><u>Knowledge is Power!</u></i></h1></i></u></h1>
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% else %}
			<p>Please, use the following form to log-in:</p>
		{% endif %}
		<div class="login-form">
			<form action="{% url 'login' %}" method="post">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}" />
				<p><input type="submit" value="Log-in"></p>
			</form>
			<p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
			<p><a href="{% url "student_registration" %}">Sign-up</a></p>
		</div>
	</div>
{% endblock %}	
				