{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
	<p>Hello {{ request.user.username }},</p>
	<p>Welcome to your dashboard.
<p><b> Royalon Academy:</b><br /><hr />
<p><b><i>Knowledge is Power!</i></b></p>
	<b>Vision:</b> Royalon Academy's Vision is to become an Internationally recognized Online E-Learning Website.<br /><hr />

<b>Mission:</b> Royalon Academy's Mission is to facilitate learning for students interested in different subjects by providing them challenging courses
		and to meet the Subject Matter Experts</b><hr />


	</p>
{% endblock %}
